spring:

  datasource:
    username: sa
    password:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb;MODE=MySQL;DATABASE_TO_UPPER=FALSE;CASE_INSENSITIVE_IDENTIFIERS=TRUE

  h2:
    console:
      enabled: true

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        ddl-auto: create
        hibernate:
          format_sql: true
          show_sql: true
          check_nullability: false
